.table-view {
    -fx-background-color: #FFFFFF;
    -fx-text-alignment: center;
}

.table-view .column-header .label{
    -fx-alignment:CENTER_LEFT;
    -fx-padding: 2 0 2 0px;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-padding: 1em;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #FEF8FA, #FFFFFF);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: #949494;
    -fx-border-radius: 7px;
    -fx-padding: 0 0 0 0;
}

.table-view .column-header {
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 5px 5px 5px 5px;
}

.table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-border-color: lightgrey transparent lightgrey transparent;
    -fx-border-width: 0.5;
}
.table-row-cell:even{
    -fx-background-color: transparent;
    -fx-border-color: lightgrey transparent lightgrey transparent;
    -fx-border-width: 0.5;
}
.table-row-cell:selected {
    -fx-background-color: #f94c57;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 10;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-row-cell:selected .text {
    -fx-fill: black;
    -fx-font-weight: bold;
}

.button {
    -fx-alignment: center-left;
    -fx-background-color: null;
}

.button:hover {
    -fx-font-weight: bold;
}
.button:pressed {

}




